{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="">Questionnaire</h2>

        <table class="table table-striped table-bordered dt-responsive nowrap datatable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre de questions</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}

                <tr>
                    <td>{{ survey.id }}</td>
                    <td>{{ survey.name }}</td>
                    <td>{{ survey.questions|length }}</td>
                    <td>
                        <a class="btn btn-secondary text-white" href="{{ path('survey_show', {'id': survey.id}) }}" title="Voir le questionnaire">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                        <a class="btn btn-secondary text-white"  href="{{ path('survey_edit', {'id': survey.id}) }}" title="modifier le questionnaire">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-secondary text-white" href="{{ path('survey_question_index', {'id': survey.id}) }}" title="Ajouter des questions">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('survey_new') }}" class="btn btn-primary">Nouveau</a>
    </div>
{% endblock %}

